
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

:root{
  --dark-wood:#322d2b;
  --dark-brown:#4d3f2d;
  --ocre:#9f7755;
  --gray:#837f78;
  --cream:#dbd0bf;
  --white:#f8f7f4;
}

body{
    font-family: "Zilla Slab", serif;
    background-color: var(--dark-wood);
    color:var(--white);
  }

nav{
  background-color: brown;
}