
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

:root{
  --dark-wood:#322d2b;
  --dark-brown:#4d3f2d;
  --ocre:#9f7755;
  --gray:#837f78;
  --cream:#dbd0bf;
  --white:#f8f7f4;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p{
  margin: 0;
  padding: 0;
}

.p1{
  font-size: clamp(1rem, 4vw, 1.5rem);
}

.p2{
  font-size: clamp(1.5rem, 6vw, 2.3rem);
}

html{
  display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--cream);
}

h1{
  font-size: clamp(2rem,6vw,6rem);
  text-shadow: -3px 3px 10px rgba(0, 0, 0, 0.694);
}

.main-h2{
  text-shadow: -3px 3px 10px rgba(0, 0, 0, 0.694);
  font-size: clamp(1.5rem,3vw,4rem);
  letter-spacing: 5px;
}

body{
    font-family: "Zilla Slab", serif;
    background-color: var(--dark-wood);
    color:var(--white);
    font-style: italic;
    /* para pc */
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  img{
    max-width: 100%;
  }

nav{
  background-color: var(--white)!important;
  font-weight: 600;
  z-index: 100;
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: flex-start;
}

.navbar-nav{
  gap:1rem;
  display: flex;
  align-items: flex-start;
}

/* .navbar{
  position:unset;
} */

.nav-item{
  background-color: white;
  padding: 0.2rem 2rem;
}

.nav-item:hover{
  transform: translateY(5px);
}

.nav-item:hover a{
  color:var(--ocre)!important;
}

.nav-item a{
  transform: rotateZ(-5deg);
}

a:hover{
  text-decoration: none;
  color:black;
}

header{
  position: relative;
  overflow: hidden;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
  padding-bottom: 5rem;
}
.bk-head{
  position: absolute;
  top:0;
  left:0;
  
  min-width: 100%;
  object-fit: cover;
  filter: brightness(0.7);
}

.header__content{
  z-index: 1;
}

main{
  position: relative;
  padding-top: 10rem;
}

.postit{
  text-align: center;
  padding: 3rem;
  padding-top: 5rem;
  color:black;
  height: 280px;
  width:300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(/assets/img/postit.webp);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.postit--absolute{
  position: absolute;
  top:3rem;
  right: 3rem;
}

.postit__icon{
  height: 60px;
}

.events-list{
  background-color: var(--white);
  max-width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap:2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.events-list__card{
  background-color: var(--cream);
  color:black;
  border-radius: 15px;
  width: 65%;
  transform: translateX(20px);
  display: flex;
  align-items: center;
  box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, 0.8);
  padding: 2rem;
  padding-left: 12%;
  position: relative;
  transition: transform 0.3s ease-out;
}

.events-list__li{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.events-list__card:hover{
  transform: translateX(40px);
}

.events-list__button{
  position: absolute;
  top:50%;
  left: 0;
  transform: translate(-50%,-50%);
}

.button--paper{
  background-color: white;
  padding: 1rem 2.5rem 1.2rem;
  display: block;

  mask-image: url(/assets/img/boton-papel.png);
  mask-size: 100% 100%;
  mask-repeat: no-repeat;
  mask-position: center;


  font-weight: 600;
  
}

.button--icon{
  display: flex;
  gap: 0.5rem;
  align-items: baseline;
}

.button--icon__img{
  height: 1.5rem;
}

.paper-bottom{
  mask-image: url(/assets/img/borde-papel-bottom.png);
  mask-size: 100% 100%;
  mask-repeat: no-repeat;
}

.paper-double{
  mask-image: url(/assets/img/borde-papel-doble.png);
  mask-size: 100% 100%;
  mask-repeat: no-repeat;
}


.button--paper__shadow{
  filter: drop-shadow(-2px 2px 5px rgba(90, 90, 90, 0.418));
}

.button{
  font-size: clamp(1.5rem, 1vw, 3rem);
  color:black;
}

.button:hover{
  transform: scale(1.1);
}

ul{
  list-style: none;
}

.separator{
  width: 100%;
  height: 10vh;
}

.separator--brown{
  background-color: var(--ocre);
}

.galery{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 2rem;
}

.galery__img{
  max-width: 600px;
}

.galery__button{
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%,-50%);
}

.img-column{
  display: flex;
  gap:1rem;
  padding: 1rem;
}

.img-column div{
  flex-basis: 50%;
}

.history{
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.history h2{
    text-align: center;
}

.paper-section{
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap:5rem;
  padding: 8rem 2rem;
}

.paper-section__text{
  display: flex;
  flex-direction: column;
  gap:0.5rem;
  color:black;
  text-align: center;
  align-items: center;
}

.paper-section__button{
  border-radius: 15px;
  border: 1px solid black;
  padding: 0.5rem 1rem;
}

.white-section{
  background-color: var(--white);
  color:black;
  padding: 2rem 20%;
}

.column-text{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  
}

.column-text--hgap{
  gap:1rem;
}

.column-text__icon{
  width: 50px;
}

span{
  color: var(--ocre);
}

.postit-center{
  gap:1rem;
}

.section-contacts{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
  gap:4rem;

}

